body {
    background-image : url("../images/omikuji-bg.png");
    background-size : cover;
    background-repeat: no-repeat;
    margin : 0;
    padding : 0;
    height: 100%;
    width: 100%;
    text-align: center;
}
#omikuji{
	margin: 20px;
    width : 50%;
    height: 50%;/*高さ*/
}
#playBtn {
    width: 60%;
    padding: 10px;
    font-size: 22px;
    border-radius: 10px;
    background-color: #444444;
    color: white;
    outline: none;
}
#alertDialog{
    height:90%;
}
#playBtn2 {
. color: #FFF;/*文字・アイコン色*/
  border-radius: 7px;/*角丸に*/
  display: inline-block;
  height: 50px;/*高さ*/
  width: 300px;/*幅*/
  text-align: center;/*中身を中央寄せ*/
  font-size: 25px;/*文字のサイズ*/
  line-height: 50px;/*高さと合わせる*/
  background: #1da1f3;
  overflow: hidden;/*はみ出た部分を隠す*/
  text-decoration:none;/*下線は消す*/
  text-shadow: 2px 2px 0px #4287d6;
  font-size: 30px;
}

#btn-social-long-twitter span {
  display:inline-block;
  transition: .5s;
}

#btn-social-long-twitter:hover span {
  -webkit-transform: rotateX(360deg);
  transform: rotateX(360deg);
}
}
