body {
    background-image : url("../images/omikuji-bg.png");
    background-size : cover;
    background-repeat: no-repeat;
    margin : 0;
    padding : 0;
    max-width: 100%;
    height: 100%;
    text-align: center;
}
@media screen and (max-width: 767px){
    background-image: url("../images/omikuji-bg1.png1")
    background-size : contain;
    background-repeat: repeat-y;
}
#omikuji{
	margin: 10px;
    width : 50%;
    height: 50%;/*高さ*/
}
.animation {
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-duration: 0.2s;
}
.keyframe0{
  animation-name: anim_po;
}
@keyframes anim_po {
  0% {
    transform: translate(0, 0px);
  }
  100% {
    transform: translate(0, 150px);
  }
}
#playBtn {
  margin: 30px;
  color: #FFFFFF;/*文字・アイコン色*/
  border-radius: 7px;/*角丸に*/
  display: inline-block;
  height: 50px;/*高さ*/
  width: 300px;/*幅*/
  text-align: center;/*中身を中央寄せ*/
  font-size: 30px;/*文字のサイズ*/
  line-height: 50px;/*高さと合わせる*/
  background: linear-gradient(-45deg, rgb(0, 0, 255),rgb(1, 146, 255));;
  overflow: hidden;/*はみ出た部分を隠す*/
  text-decoration:none;/*下線は消す*/
  text-shadow: 2px 2px 0px #4287d6;
}

#playBtn:hover {
  margin-top: 35px;
  color: #FFFFFF;
  background: #444444;
  border-bottom: 2px solid #000000;

}

